.navLink{
  margin-top: 10px;
  font-size: 0;
}
.navLink a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  margin-right: 8px;
}

.navLink :last-child{
  margin-right: 0;
}
.navLink a.active {
  font-size: 15.5px;
  color: orange;
  font-weight: 700;
  text-decoration: underline;
}

